main{
    background:url("https://images.pexels.com/photos/10963545/pexels-photo-10963545.png?auto=compress&cs=tinysrgb&dpr=1&w=500");
    
}
.card:hover{
    opacity: .6;color: blue;
    color:blue;
    transition: 0,2s;
    
    
}
.card{
    
}